html {
    font-size: 62.5%;
    --sidebar-color: #0ea5e9;
    --search-bar-color: #e5e7eb;
    --text-color: gray;
    --cards-background-color: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
    font-size: 1.6rem;
    font-family: 'Roboto', 'Arial', sans-serif;
}

        /* ====== HEADER ====== */
#header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    box-shadow: 0 0 1rem var(--text-color);
    padding: 2rem 0 2rem 4rem;
    gap: 2rem;
    z-index: 1;
}

#header-top-section, #header-footer-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
}

#header-user-info, #header-search-bar {
    display: grid;
    grid-template-columns: min-content min-content max-content;
    align-items: center;
    gap: 2.5rem;
}

#header-search-bar {
    grid-template-columns: min-content 1fr;
    gap: 2rem;
}

#header-search-bar input{
    height: 70%;
    border-radius: 2rem;
    outline: none;
    border: none;
    background-color: var(--search-bar-color);
    padding-left: 2rem;
    font-size: 1.6rem;
    color: black;
}

#header-user-info {
    justify-content: center;
}

#header-search-bar img, #header-user-info img {
    width: 2.5rem;
    height: 3rem;
}

#header-user-info img#user-icon {
    background-color: var(--sidebar-color);
    border-radius: 4rem;
    width: 5rem;
    height: 5rem;
}

#header-footer-section img {
    width: 8rem;
    height: 8rem;
    border-radius: 5rem;
    background-color: var(--sidebar-color);
}

#header-user-greeting {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 2rem;
}

#header-buttons {
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(3, min-content);
    align-items: center;
    gap: 3rem;
}

#header-buttons button {
    font-size: 1.6rem;
    width: 10rem;
    border: none;
    padding: 1.5rem;
    border-radius: 3rem;
    background-color: var(--sidebar-color);
    color: white;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: bold;
}

        /* ====== SIDEBAR ====== */
#sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    gap: 5rem;
    background-color: var(--sidebar-color);
    color: white;
    padding: 2rem 4rem 0 2rem;
    z-index: 1;
}

#sidebar-header, #sidebar-menu div, #sidebar-footer div {
    display: grid;
    grid-template-columns: min-content min-content;
    gap: 2rem;
    align-items: center;
}

#sidebar #sidebar-header img {
    width: 5rem;
    height: 5rem;
}

#sidebar img {
    width: 3rem;
    height: 3rem;
}

#sidebar-menu {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 2rem;
}

#sidebar-menu div, #sidebar-footer div {
    gap: 4rem;
    padding-left: 1rem;
}

#sidebar-footer {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
}

        /* ====== MAIN CONTENT ====== */

/* === MAIN CONTENT PROJECTS === */
#main-content {
    grid-area: main;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    padding: 2rem 4rem;
    gap: 3rem;
    background-color: var(--search-bar-color);
    z-index: -1;
    align-items: flex-start;
}

#main-content h2 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
}

.card h4 {
    margin-bottom: 0.5rem;
}

.card {
    background-color: var(--cards-background-color);
    border-radius: 1.2rem;
    box-shadow: 0.2rem 0.2rem 0.5rem var(--text-color);
    padding: 3rem 2rem;
    border-left: 7px solid var(--sidebar-color);
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    gap: 1rem;
}

.card p {
    font-weight: 400;
    color: var(--text-color);
}

.card .card-buttons {
    width: max-content;
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.card img {
    width: 2rem;
    height: 2rem;
}

/* === ANNOUNCEMENTS AND TRENDING === */

        /* ANNOUNCEMENTS */
#announcements {
    background-color: var(--cards-background-color);
    padding: 3rem 2.5rem;
    font-size: 1.4rem;
    border-radius: 1.2rem;
    box-shadow: 0.2rem 0.2rem 0.5rem var(--text-color);
    margin-bottom: 4.5rem;
}

.announcements-content:not(.first) {
    padding-top: 2rem;
}

.announcements-content:not(.last) {
    padding-bottom: 2rem;
    border-bottom: 1px solid #d1d5db;
}

.announcements-content h5 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.announcements-content p {
    color: var(--text-color);
}

        /* TRENDING */
#trending {
    background-color: var(--cards-background-color);
    padding: 2rem 3rem;
    border-radius: 1.2rem;
    box-shadow: 0.2rem 0.2rem 0.5rem var(--text-color);
}

.trending-content {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 2rem;
    align-items: center;
    margin-bottom: 1rem;
}

.trending-content.last-card {
    margin-bottom: 0;
}

.trending-content img {
    width: 5rem;
    height: 5rem;
    padding: 0.5rem;
    border-radius: 5rem;
}

.trending-content h5 {
    font-weight: 500;
}

.trending-content p {
    color: var(--text-color);
}