html {
    font-size: 62.5%;
    --sidebar-color: #0ea5e9;
    --search-bar-color: #bae6fd;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
    font-size: 1.6rem;
    font-family: 'Roboto', 'Arial', sans-serif;
}

        /* ====== HEADER ====== */
#header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    box-shadow: 0 0 1rem gray;
    padding: 2rem 0 2rem 4rem;
    gap: 2rem;
}

#header-top-section, #header-footer-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
}

#header-user-info, #header-search-bar {
    display: grid;
    grid-template-columns: min-content min-content max-content;
    align-items: center;
    gap: 2.5rem;
}

#header-search-bar {
    grid-template-columns: min-content 1fr;
    gap: 2rem;
}

#header-search-bar input{
    height: 70%;
    border-radius: 2rem;
    outline: none;
    border: none;
    background-color: var(--search-bar-color);
    padding-left: 2rem;
    font-size: 1.6rem;
    color: black;
}

#header-user-info {
    justify-content: center;
}

#header-user-info img {
    background-color: var(--sidebar-color);
    border-radius: 4rem;
    width: 5rem;
    height: 5rem;
}

#header-footer-section img {
    width: 8rem;
    height: 8rem;
    border-radius: 5rem;
    background-color: var(--sidebar-color);
}

#header-user-greeting {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 2rem;
}

#header-buttons {
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(3, min-content);
    align-items: center;
    gap: 3rem;
}

#header-buttons button {
    font-size: 1.6rem;
    width: 10rem;
    border: none;
    padding: 1.5rem;
    border-radius: 3rem;
    background-color: var(--sidebar-color);
    color: white;
}

        /* ====== SIDEBAR ====== */
#sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, min-content);
    gap: 5rem;
    background-color: var(--sidebar-color);
    color: white;
    padding: 2rem 0 0 2rem;
}

#sidebar-header, #sidebar-menu div, #sidebar-footer div {
    display: grid;
    grid-template-columns: min-content min-content;
    gap: 2rem;
    align-items: center;
}

#sidebar #sidebar-header img {
    width: 5rem;
    height: 5rem;
}

#sidebar img {
    width: 3rem;
    height: 3rem;
}

#sidebar-menu {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 2rem;
}

#sidebar-menu div, #sidebar-footer div {
    gap: 4rem;
    padding-left: 1rem;
}

#sidebar-footer {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
}

        /* ====== MAIN CONTENT ====== */
#main-content {
    grid-area: main;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "main announcements"
    "main trending";
    padding: 3rem 0 0 4rem;
}

#main-content-projects {
    grid-area: main;
    height: 100%;
}

#main-content-projects h2 {
    margin-bottom: 1.5rem;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    gap: 4rem;
}

.card {
    border-radius: 0.8rem;
    box-shadow: 0 0 10px blue;
    padding: 3rem 2rem;
}