html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
    gap: 2rem;
    font-size: 1.6rem;
}

        /* ====== HEADER ====== */
#header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
}

#header-top-section, #header-footer-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
}

#header-user-info, #header-search-bar {
    display: grid;
    grid-template-columns: min-content min-content max-content;
    align-items: center;
    gap: 2.5rem;
}

#header-search-bar {
    grid-template-columns: min-content 1fr;
    gap: 1rem;
}

#header-search-bar input{
    height: 50%;
    border-radius: 2rem;
    outline: none;
    border: none;
    background-color: gray;
}

#header-user-info {
    justify-content: center;
}

#header-user-info img {
    border: 1px solid red;
    border-radius: 4rem;
    width: 5rem;
    height: 5rem;
}

#header-footer-section img {
    width: 10rem;
    height: 10rem;
}

#header-user-greeting {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 2rem;
}

#header-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 2rem;
}

        /* ====== SIDEBAR ====== */
#sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 3fr 2fr;
    gap: 2rem;
    border: 3px solid blue;
}

        /* ====== MAIN CONTENT ====== */
#main-content {
    grid-area: main;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "main announcements"
    "main trending";
    padding: 2rem 1rem;
    border: 3px solid green;
}

#main-content-projects {
    grid-area: main;
    height: 100%;
    border: 1px solid blue;
}

#main-content-projects h2 {
    margin-bottom: 1.5rem;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    gap: 4rem;
}

.card {
    border-radius: 0.8rem;
    box-shadow: 0 0 10px blue;
    padding: 3rem 2rem;
}